body { background-color:#EEE; font-family: Arial, sans-serif; color:#666;}

.navbar-inner { background: #6DB33F none; height:75px;}
.nav { width:75%; padding-top: 1.3%;}
.nav li { padding:0 15px;}
.nav-icon { display: inline-block; margin-top:5px;}

.navbar .brand, .navbar .nav > li > a { color:white;}
.navbar .brand, .navbar .nav > li > a:hover { font-weight: bold;}

.hero-unit { margin-top:6.2em; background-color:#EDE7DE;}
.hero-unit blockquote { margin-top:4em; border-left-color:#EDE7DE;}
.hero-unit pre { font-size:13pt; line-height:1.5em;}

.hero-unit h1 { color:#387C2C;}
a { color:#0A96C5;}
#sug-overview { padding-top: 0;}
.headline { padding-top:10%; text-align: center; color:#C2CD23;}
p { padding:1em; text-align: justify;}

.inline li { display:inline-block; padding:0 5px 0 5px;}
footer { background-color:#252525; text-align: center;
    border-top-left-radius:5px; border-top-right-radius: 5px;}
footer ul { margin-top:14px;}